{{#each this}}
<li id={{id}}>
<div class="photo-card">
    <img src="{{webformatURL}}" alt="{{tags}}" width="300" height="180" data-source="{{largeImageUrl}}" />

    <div class="stats">
        <p class="stats-item">
            <i class="material-icons">thumb_up</i>
            Like stats: {{likes}}
        </p>
        <p class="stats-item">
            <i class="material-icons">visibility</i>
            Views stats: {{views}}
        </p>
        <p class="stats-item">
            <i class="material-icons">comment</i>
            Comment stats: {{comments}}
        </p>
        <p class="stats-item">
            <i class="material-icons">cloud_download</i>
            Downloads stats: {{downloads}}
        </p>
    </div>
</div>
</li>
{{/each}}